form#wgrc-wp-form {
  padding: 20px 0 30px;
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  grid-gap: 1.3em;
}

form#wgrc-wp-form p {
  margin: 0;
}

.grid {
  display: grid;
  overflow-x: scroll;
}

.grid > span {
  padding: 8px 4px;
}

.grid > span.gray-header {
  color: #fff;
  font-size: 12px;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #333333; 
  padding: 20px 24px;
}

.grid > span.data-cell {
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
  padding: 14px 24px;
  border-bottom: 1px solid #e5e5e5;
}